@import url(http://fonts.googleapis.com/css?family=Quattrocento:400,700);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic);

html, body, form, fieldset, input, select, textarea, optgroup, option, p, table, tr, td, img {
    font-family: 'Quattrocento Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, button, .button, a {
    font-family: 'Quattrocento', serif;
}

a{font-size: 18px}

.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.logo {
    color: #1a1a1a;
}

.logo-emp {
    color: #444444;
}

img{
  width:300px;
  height:300px;
  border-radius: 50%;
  object-fit: cover;
}
